.chat-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.messages {
    height: 600px; /* 高さを広くする */
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.message {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

textarea {
    resize: none;
    padding: 10px;
    margin-right: 10px;
    height: 50px; /* 縦に小さくする */
    flex-grow: 1;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.logout-button {
    background-color: #dc3545;
}

.logout-button:hover {
    background-color: #c82333;
}

.logout-form {
    position: fixed;
    bottom: 20px;
    right: 20px;
}